.redCard {
  margin: 30px;
  display: flex;
  color: red;
  font-size: 8rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blackCard {
  margin: 30px;
  display: flex;
  color: black;
  font-size: 8rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.holderCard {
  margin: 30px;
  display: flex;
  font-size: 8rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}
